h1 {
 font-family:$raleway;
 font-size:$xx-large;
 font-weigth:$light;
 color:$white;
 text-align: center;
}

h2 {
 font-family:$raleway;
 font-size:$large;
 font-weigth:$regular;
 color:$white;
 text-align: center;
}

p {
 font-family:$raleway;
 font-size:$medium;
 font-weigth:$regular;
 color:$taupe;
 margin-buttom:2%;
}



