//Esquema de color //

$white:#fff;
$snow:#fafafa;
$silver:#a0a0a0;
$bean:#e56353;
$salmon:#e97f92;
$pink:#f049a1;
$granite:#686963;
$taupe:#91918d;
$gray:#babab8;

//Tipografia //

$raleway:'Raleway', sans-serif;

//Pesos //
$light:200;
$regular:400;
$bold:700;


//Tamaños de fuentes //

$xx-large:100px;
$x-large:70px;
$large:50px;
$medium:18px;