article {
	background:$taupe;
}

article img {
	width:80%;
	display:block;
	margin:auto;
	padding-top:4%;
}

.article__p {
	heigth:30%;
	padding:5%;
	width:70%;
	display:block;
	margin:auto;
}

.article__p p {
	color:$white;

 }

