main {
	background:$bean;
	text-aling:center;
	padding-top:12%;
	padding-bottom:12%;

	}

main h1 {
	color:white;
}

.main__negocio {
	background:$bean;
	text-aling:center;
	padding-top:5%;
	padding-bottom:5%;
}

.main__negocio h2 {
	text-aling:center;
	color:$white;
}

.h1__texto {
	font-weight:$light;
}