section {
	background:$white;
}

section img {
	width:80%;
	display:block;
	margin:auto;
	padding-top:4%;
}

.section__p {
	heigth:30%;
	padding:5%;
	width:70%;
	display:block;
	margin:auto;
}

section h2 {
	color:$taupe;
}

.section__nosotros {
	background:$bean;
	text-aling:center;
	padding-top:3%;
	padding-bottom:3%;
}

.section__personas {
	padding:5%;
	width:70%;
	display:block;
	margin:auto;
}

.section__personas img {
	width:70%;
}


